babel==2.14.0
email-validator==2.1.1
flask==3.0.1
flask-babel==4.0.0
flask-login==0.6.3
flask-sqlalchemy==3.1.1
flask-wtf==1.2.1
gunicorn==23.0.0
pillow==10.2.0
psycopg2-binary==2.9.9
sqlalchemy==2.0.28
werkzeug==3.0.1
wtforms==3.1.2
